*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

:root{
    --bg-color:#1f242d;
    --sec-bg-color:#323946;
    --text-color:#fff;
    --main-color:#0ef;
}
html
{
    font-size: 62.5%;
    overflow-x: hidden;
}
body
{
    background: var(--bg-color);
    color: var(--text-color);
}
section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header
{
     display: flex;
     justify-content: space-between;
     align-items: center;
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     padding: 2rem 9%;
     z-index: 100;
}


span
{
    color: var(--main-color);
}

.logo
{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.navbar a
{
 font-size: 1.7rem;
 color: var(--text-color);
 margin-left: 4rem;
 transition: .3s;
}

.navbar a:hover,
.navbar a.active
{
    color: var(--main-color);
}

#menu-icon
{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.home 
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content h3
{
 font-size: 3.2rem;
 font-weight:700;
}

.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}
.home-content h3:nth-of-type(2)
{ 
    margin-bottom: 1rem;
}

.home-img
{
    height: 35vw;
}

.home-img img{
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
    margin-left: 5rem;
    margin-top: 5rem;
    box-shadow: 0 0 3rem 1rem #0ef;
}

.social-media a
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5sec ease;
}
/*************************/
.home-content h1 {
    color: white;
    position: relative;   
    text-transform: uppercase;
    
}

.home-content h1::before
{
    content: "Radhika...";
    position: absolute;
    color: var(--main-color);
    border-right: 2px solid var(--main-color);
    width: 10%;
    overflow: hidden;
    animation: trans 5s linear infinite;
}

@keyframes trans {
    0%
    {
    width: 0;
    }
    50%
    {
        width: 80%;
    }
}
/************************/

.social-media a:hover{
    color: var(--sec-bg-color);
    background: var(--main-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn
{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--sec-bg-color);
    letter-spacing: .1rem;
    font-weight:600;
    transition: .5sec ease;
}

.btn:hover{
  box-shadow: none;    
}

.about
{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--sec-bg-color);
}

.heading{
 text-align: center;
 font-size: 4.5rem;
}

.about-content h3{
    font-size: 2.6rem;
    color: #0ef;
}
.about-content
{
    padding: 10rem 10rem;
    box-shadow: .5rem 0 1rem #0ef;
}

.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}


.education
{ 
    display: flex;
    justify-content: center;
    align-items:center ;
    flex-wrap: wrap;
    flex-direction: column;
}

.edu
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 4rem;
}
.education-box
{
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    background-color: var(--sec-bg-color);
    border: .2rem solid var(--sec-bg-color);
    box-shadow: .2rem 0 2rem var(--main-color);
    transition: .5s ease;
}
.education h2{
    margin-bottom: 5rem;
    font-size: 5rem;
}

.education h3{
  font-size: 3rem;
  color: var(--main-color);
  margin-bottom: 1rem;
}

.education h4{
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.education h5,h6{
    font-size: 1.5rem;
}

.education-box:hover{
    border-color:var(--main-color) ;
    transform: scale(1.05);
}
/*******************************************************************/
.skills
{
    background: var(--sec-bg-color);
}

.skills .skills-column h3{
    font-size: 2.5rem;
}
.skills-column h3 .title
{
    font-size: 4rem;
}

.skills .skills-row
{
    display: flex;
    justify-content: center;
    height: 40rem;
    align-items: center;
}
.skills-content .progress
{
    border: .2rem solid var(--main-color);
    margin-top: 2rem;
    padding: 1rem 1rem;
    border-radius: 1rem;

    text-align: center;
}
.skills-content .progress h3{
    font-size: 1.5rem;
}

    
/**********************************************************************/
.project
{
    background: var(--bg-color);
}

.project h2{
    margin-bottom:4rem;
}

.project-container
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem;
}

.project-container .project-box
{
    position: relative;
    border-radius: 2rem;
    box-shadow:0 0 1rem 1rem var(--sec-bg-color) ;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 20rem;
}

.project-box img
{
 height: 100%;
 width: 100%;
 transition: .5s ease;
}
.project-box:hover img
{
    transform: scale(1.1);
}

.project-box .project-name
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.1),var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}
.project-box:hover .project-name
{
    transform: translateY(0);
}

.project-name h4{
    font-size: 3rem;
}

.project-name p{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.project-name a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.project-name a i{
    font-size: 2rem;
    color: var(--sec-bg-color);
}


@media (max-width:1200px) {
    html {
       font-size: 55%
    }
}

@media (max-width:991px)
{
    .header {
        padding: 2rem 3%;
    }

    .home-img img 
    {
        width: 30vw;
    }

    .section 
    {
        padding: 10rem 3% 2rem;
    }
    .project
    {
        padding-bottom:7rem ;
    }
    
}

@media(max-width:768px)
{
    #menu-icon
    {
        display: block;
    }

    .navbar
    {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0,0,0,.2);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
        display: none;
    }

    .navbar .active{
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;

    }

    .home 
    {
        flex-direction: column;
    }

    .home-content h1
    {
       font-size: 5rem;
    }

    .home-img img 
    {
        width: 20vw;
    }

    .about
    {
        flex-direction: column;
    }
    .education h2
    {
      margin-bottom: 3rem;
    }

    .project h2{
      margin-bottom: 3rem;
    }

    .project-container
    {
        grid-template-columns: repeat(2,1fr);
    }

}

@media (max-width:617px)
{
  .project-container{
    grid-template-columns: 1fr;
  }
  
  .home-img img 
    {
        width: 30vw;
        height: 30vh;
        box-shadow: 0 0 .2rem .5rem #0ef;
        margin-left: 1rem;
    }
     .edu 
    {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width:450px) {
    html 
    {
      font-size: 50%;
    }
    .home-img img 
    {
        width: 50vw;
        height: 20vh;
        margin-left: 1.5rem;
        box-shadow: 0 0 .2rem .5rem #0ef;   
    }

    .edu
    {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

    

@media (max-width:365px)
{
    
    .home h3
    {
        font-size: 2rem;
    }
    .home h1
    {
     font-size: 3.5rem;
    }
    .home-img img 
    {
        width: 50vw;
        height: 25vh;
        box-shadow: 0 0 .2rem .5rem #0ef;
        
    }
   .home .social-media a
   {
    margin-top: 0;
   }

   .home .btn{
    margin-top: 0;
   }

   .edu
   {
    display: flex;
    flex-direction: column;
   }
}




